.messages {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 10px;
  background-color: #303030;
  border-radius: 10px;
  padding: 15px;
  height: 90vh;
  overflow-y: auto;
  scroll-behavior: smooth;
  flex-grow: 1;
}

.messages::-webkit-scrollbar {
  display: none;
}

.hasMessages {
  justify-content: flex-start;
}

.empty {
  justify-content: center;
}

.emptyMessage {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: #888;
  font-size: 1.5rem;
  padding: 20px;
}

@media (prefers-color-scheme: light) {
  .messages {
    background-color: #BCCCDC;
  }
}
