h2 {
  text-align: center;
  margin: 0;
  color: inherit;
}

.room {
  display: flex;
  width: 35vw;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
  padding: 10px;
  transition: 0.3s
}

.room-container {
  display: flex;
  gap: 10px;
  height: 90%;
  flex-direction: column;
  justify-content: end;
}

@media only screen and (max-width: 1365px) {
  .room {
    width: 50vw;
  }
}


@media only screen and (max-width: 750px) {
  .room {
    width: 90vw;
  }
}

@media (prefers-color-scheme: light) {
  h2 {
    color: #9AA6B2;
  }
}