.room {
  display: flex;
  width: 35vw;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
  gap: 5px;
  padding: 10px;
  transition: 0.3s
}

@media only screen and (max-width: 1365px) {
  .room {
    width: 50vw;
  }
}


@media only screen and (max-width: 750px) {
  .room {
    width: 90vw;
  }
}

@media (prefers-color-scheme: light) {

}